In [156]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [157]:
df=pd.read_csv('bikeshare.csv')

In [158]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [160]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [161]:
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.997260,0.683562,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.006161,0.465405,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

In [162]:
x = df.iloc[:,2:13]
y = df['cnt']

In [163]:
x

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882
1,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113
2,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703
3,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832
4,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300
...,...,...,...,...,...,...,...,...,...,...,...
725,1,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911
726,1,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557
727,1,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661
728,1,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518
729,1,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682

In [164]:
y

0       985
1       801
2      1349
3      1562
4      1600
       ...
725    2114
726    3095
727    1341
728    1796
729    2729
Name: cnt, Length: 730, dtype: int64

In [165]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x =  pd.DataFrame(sc.fit_transform(x), columns=['season','yr','mnth','holiday','weekday',
'workingday','weathersit','temp','atemp','hum','windspeed'])

In [166]:
x

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,-1.350819,-1.0,-1.602745,-0.172102,1.497785,-1.469753,1.112127,-0.827613,-0.680818,1.252343,-0.387833
1,-1.350819,-1.0,-1.602745,-0.172102,-1.495052,-1.469753,1.112127,-0.722069,-0.741507,0.480996,0.748899
2,-1.350819,-1.0,-1.602745,-0.172102,-0.996246,0.680387,-0.724644,-1.635432,-1.750344,-1.338073,0.745931
3,-1.350819,-1.0,-1.602745,-0.172102,-0.497440,0.680387,-0.724644,-1.615560,-1.610886,-0.261577,-0.389769
4,-1.350819,-1.0,-1.602745,-0.172102,0.001367,0.680387,-0.724644,-1.468226,-1.505615,-1.340294,-0.046477
...,...,...,...,...,...,...,...,...,...,...,...
725,-1.350819,1.0,1.587648,-0.172102,0.500173,0.680387,1.112127,-1.319509,-1.521749,0.177576,2.059845
726,-1.350819,1.0,1.587648,-0.172102,0.998979,0.680387,1.112127,-1.324068,-1.347378,-0.264634,-0.452029
727,-1.350819,1.0,1.587648,-0.172102,1.497785,-1.469753,1.112127,-1.324068,-1.425011,0.880424,-0.853182
728,-1.350819,1.0,1.587648,-0.172102,-1.495052,-1.469753,-0.724644,-1.310404,-1.490698,-1.014341,2.067858
729,-1.350819,1.0,1.587648,-0.172102,-0.996246,0.680387,1.112127,-1.529024,-1.541117,-0.352490,-0.460094

In [167]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1)

In [168]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [169]:
model.score(x_test,y_test)

0.8305332782925192